<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Successful</title>
</head>
<body>
    <!-- payment_success.html -->
    <div class="form-popup" id="successPage">
        <h2>Payment Successful</h2>
        <p>Thank you for your booking! Your payment has been processed successfully.</p>
        <button type="button" onclick="returnToPreviousPage()">Return</button>
    </div>

    <script>
        // TODO UI update
        function returnToPreviousPage() {
            history.back(); // This will navigate to the previous page
        }
    </script>
</body>


