<!DOCTYPE html>
<html lang="en">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% load static %}
{% load booking_tags %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
</head>

<body>
    <div id="center">
        <div id="header">
            <h2><a href="https://www.lionsbadminton.com/"><span id="arrow">&#129120;</span></a> Lions Badminton Center
            </h2>
        </div>
        <div id="separator"></div>
        <!-- Display date buttons -->
        <div id="dates" data-separator-style="pipe">
            {% for date in dates %}
            {# Extract the date part (YYYY-MM-DD) for the id attribute #}
            {% with date|slice:"4:14" as date_id %}
            <button id="dateButton_{{ date_id }}" onclick="showSchedule('{{ date_id }}')" data-date="{{ date }}">
                {% if date == today %}
                Today
                {% else %}
                {{ date }}
                {% endif %}
            </button>
            {% endwith %}
            {% endfor %}
        </div>

        <table>
            <tr>
                <th>Time Slot</th>
                {% for court in courts %}
                <th>{{ court }}</th>
                {% endfor %}
            </tr>
            {% for slot in time_slots %}
            <tr>
                <td>{{ slot }}</td>
                {% for court in courts %}
                {% with time_range=slot|split_time_range %}
                {% get_order selected_date time_range.start_time time_range.end_time court as orders %}

                <!-- Both conditions must be met: same date and valid time comparison -->
                {% if current_time|slice:":10" == selected_date and time_range.start_time|compare_times:current_time %}
                <!-- If both conditions are true, display N/A -->
                <td class="booked">N/A</td>
                {% else %}
                <!-- If conditions are not met, continue with booking logic -->
                {% for order in orders %}
                <td class="{% if order.user %} booked {% endif %}"
                    onclick="toggleSelect(this, '{{ slot }}', '{{ court }}', '{{ selected_date }}', {% if order.user %} true {% else %} false {% endif %}, {{ order.money }})">
                    {% if order.user %}
                    Booked
                    {% else %}
                    ${{ order.money }}
                    {% endif %}
                </td>
                {% empty %}
                <!-- Display N/A if there is no order -->
                <td class="booked">N/A</td>
                {% endfor %}
                {% endif %}
                {% endwith %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <button type="button" id="bookButton" onclick="openForm()">Book Selected &#129122</button>

        <div class="form-popup" id="bookingForm">
            <form id="payment-form">
                <h2 id="bookingHeader">Book Courts</h2>
                <p/>
                <p id="bookingDetails"></p>
                <p/>
                <div class="form-wrapper">
                    <div class="form-column">
                        <section>
                        <label for="first_name">First Name:</label>
                        <input type="text" id="first_name" name="first_name" class="p-Input-input Input Input--empty"
                               required><br>
                        <label for="last_name">Last Name:</label>
                        <input type="text" id="last_name" name="last_name" class="p-Input-input Input Input--empty"
                               required><br>
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required class="p-Input-input Input Input--empty"><br>
                        <label for="phone" class="Label">Cell Phone Number:</label>
                        <div class="p-Input">
                        <input type="text" name="phone" required id="phone"
                               class="p-Input-input Input Input--empty"><br>
                        </div>
                        <input type="hidden" name="selected_slots" id="selected_slots" value=""><br>
                        </section>
                    </div>
                    <div class="form-column">
                        <section>
                            <div id="payment-element">
                                <!-- Stripe.js injects the Payment Element -->
                            </div>
                            <button id="cancel" type="button" onclick="closeForm()">
                                <span>Cancel</span>
                            </button>

                            <button id="submit">
                                <span id="button-text">Pay now</span>
                            </button>

                            <div id="payment-message" class="hidden"></div>
                        </section>
                    </div>
                </div>

                <!-- Centralized Spinner -->
                <div class="central-spinner hidden" id="spinner">
                    <div class="spinner"></div>
                </div>
            </form>
        </div>
    </div>

    <!-- Store the URL in a data attribute -->
    <div id="payment-intent-url" data-url="{% url 'create-payment-intent' %}"></div>

    {% csrf_token %}
</body>


<!-- Include your CSS files -->
<link rel="stylesheet" type="text/css" href="{% static 'css/schedule.css' %}">
<!-- Include the schedule.js script -->
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'scripts/schedule.js' %}"></script>

</html>