<!DOCTYPE html>
<html lang="en">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% load static %}
{% load booking_tags %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <!-- Include your CSS files -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/schedule.css' %}">
    <!-- Include the schedule.js script -->
    <script src="{% static 'scripts/schedule.js' %}"></script>
</head>



<body>
    <div id="center">
        <div id="header">
            <h2><a href="https://www.lionsbadminton.com/"><span id="arrow">&#129120;</span></a> Lions Badminton Center
            </h2>
            <!--	    <button type="button" id="bookButton2" onclick="openForm()">Book Selected &#129122</button>-->
        </div>
        <div id="separator"></div>
        <!-- Display date buttons -->
        <div id="dates">
            {% for date in dates %}
            {# Extract the date part (YYYY-MM-DD) for the id attribute #}
            {% with date|slice:"4:14" as date_id %}
            <button id="dateButton_{{ date_id }}" onclick="showSchedule('{{ date_id }}')">
                {% if date == today %}
                Today
                {% else %}
                {{ date }}
                {% endif %}
            </button>
            {% endwith %}
            {% endfor %}
        </div>

        <table>
            <tr>
                <th>Time Slot</th>
                {% for court in courts %}
                <th>{{ court }}</th>
                {% endfor %}
            </tr>
            {% for slot in time_slots %}
            <tr>
                <td>{{ slot }}</td>
                {% for court in courts %}
                {% with time_range=slot|split_time_range %}
                {% get_order selected_date time_range.start_time time_range.end_time court as orders %}
                {% for order in orders %}
                <td class="{% if order.user %} booked {% endif %}"
                    onclick="toggleSelect(this, '{{ slot }}', '{{ court }}', '{{ selected_date }}',  {% if order.user %} true {% else %} false {% endif %}, {{order.money}})">
                    <!--                    <p>{{ order }}</p>-->
                    <!--                    Item Time: {{ order.item_time.start_time }} - {{ order.item_time.end_time }}<br>-->
                    <!--            User: {% if order.user %}{{ order.user.username }}{% else %}N/A{% endif %}<br>-->
                    {% if order.user %}
                    {{ order.user.first_name}} {{order.user.last_name}}
                    {% else %}
                    ${{ order.money }}
                    {% endif %}
                    <!--            Status: {% if order.status %} "Open" {% else %} "Closed" {% endif %}<br>-->
                    <!--            Court: {{order.item_time.item_court.name}}<br>-->

                </td>
                {% empty %}
                <td class="booked">N/A</td>
                {% endfor %}
                {% endwith %}
                {% endfor %}

            </tr>
            {% endfor %}
        </table>
        <button type="button" id="bookButton" onclick="openForm()">Book Selected &#129122</button>


        <div class="form-popup" id="bookingForm">
            <!--            <form method="post" action="{% url 'book_slot' %}">-->
            <form id="payment-form">
                {% csrf_token %}
                <h2 id="bookingHeader">Book Courts</h2>
                <p id="bookingDetails"></p>
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" required><br>
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name" required><br>
                <label for="email">Email:</label>
                <input type="email" name="email" required><br>
                <label for="phone">Cell Phone Number:</label>
                <input type="text" name="phone" required><br>
                <input type="hidden" name="selected_slots" id="selected_slots" value=""><br>
                <section>
                    <div id="payment-element">
                        <!--Stripe.js injects the Payment Element-->
                    </div>
                    <button id="submit">
                        <div class="spinner hidden" id="spinner"></div>
                        <span id="button-text">Pay now</span>
                    </button>
                    <div id="payment-message" class="hidden"></div>
                </section>
                {% csrf_token %}
                <button type="button" onclick="closeForm()">Cancel</button>
                <!--                <button type="submit">Book</button>-->
            </form>


        </div>
    </div>
</body>




<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    // This is your test publishable API key.
    const stripe = Stripe("pk_test_51PfA0tRt3PcgmiF6YXj4ROeapnBMPBd7FqSIGJyGvvMoZrVESulq4n0kTbarADCXxDjQQShUD3GbsaKaustZJut400GUgtILbz");

    // The items the customer wants to buy
    const items = [{ id: "xl-tshirt" }];

    let elements;

    initialize();
    checkStatus();

    document
        .querySelector("#payment-form")
        .addEventListener("submit", handleSubmit);

    // Fetches a payment intent and captures the client secret
    async function initialize() {
        const response = await fetch("{% url 'create-payment-intent' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({ items }),
        });
        const { clientSecret } = await response.json();

        const appearance = {
            theme: 'stripe',
        };
        elements = stripe.elements({ appearance, clientSecret });

        const paymentElementOptions = {
            layout: "tabs",
        };

        const paymentElement = elements.create("payment", paymentElementOptions);
        paymentElement.mount("#payment-element");
    }

    async function handleSubmit(e) {
        console.log("handled here.");
        e.preventDefault();
        setLoading(true);

        const { error } = await stripe.confirmPayment({
            elements,
            confirmParams: {
                return_url: 'https://google.com', //TODO
                // Make sure to change this to your payment completion page
                //return_url: "http://localhost:4242/checkout.html",
            },
        });


        // This point will only be reached if there is an immediate error when
        // confirming the payment. Otherwise, your customer will be redirected to
        // your `return_url`. For some payment methods like iDEAL, your customer will
        // be redirected to an intermediate site first to authorize the payment, then
        // redirected to the `return_url`.
        if (error.type === "card_error" || error.type === "validation_error") {
            showMessage(error.message);
        } else {
            showMessage("An unexpected error occurred.");
        }

        setLoading(false);
    }

    // Fetches the payment intent status after payment submission
    async function checkStatus() {
        const clientSecret = new URLSearchParams(window.location.search).get(
            "payment_intent_client_secret"
        );

        if (!clientSecret) {
            return;
        }

        const { paymentIntent } = await stripe.retrievePaymentIntent(clientSecret);

        switch (paymentIntent.status) {
            case "succeeded":
                showMessage("Payment succeeded!");
                break;
            case "processing":
                showMessage("Your payment is processing.");
                break;
            case "requires_payment_method":
                showMessage("Your payment was not successful, please try again.");
                break;
            default:
                showMessage("Something went wrong.");
                break;
        }
    }

    // ------- UI helpers -------

    function showMessage(messageText) {
        console.log("show messsage:", messageText);
        const messageContainer = document.querySelector("#payment-message");

        messageContainer.classList.remove("hidden");
        messageContainer.textContent = messageText;

        setTimeout(function () {
            messageContainer.classList.add("hidden");
            messageContainer.textContent = "";
        }, 4000);
    }

    // Show a spinner on payment submission
    function setLoading(isLoading) {
        if (isLoading) {
            // Disable the button and show a spinner
            document.querySelector("#submit").disabled = true;
            document.querySelector("#spinner").classList.remove("hidden");
            document.querySelector("#button-text").classList.add("hidden");
        } else {
            document.querySelector("#submit").disabled = false;
            document.querySelector("#spinner").classList.add("hidden");
            document.querySelector("#button-text").classList.remove("hidden");
        }
    }
</script>

</html>