<!DOCTYPE html>
<html lang="en">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% load static %}
{% load booking_tags %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
</head>

<body>
    <div id="center">
        <div id="header">
            <h2><a href="https://www.lionsbadminton.com/"><span id="arrow">&#129120;</span></a> Lions Badminton Center
            </h2>
            <!--	    <button type="button" id="bookButton2" onclick="openForm()">Book Selected &#129122</button>-->
        </div>
        <div id="separator"></div>
        <!-- Display date buttons -->
        <div id="dates" data-separator-style="line">
            {% for date in dates %}
                {% with date|slice:"4:14" as date_id %}
                <button id="dateButton_{{ date_id }}" onclick="showSchedule('{{ date_id }}')" data-date="{{ date }}">
                    {% if date == today %}
                    Today
                    {% else %}
                    {{ date }}
                    {% endif %}
                </button>
                {% endwith %}
            {% endfor %}
        </div>
        

        <table>
            <tr>
                <th>Time Slot</th>
                {% for court in courts %}
                <th>{{ court }}</th>
                {% endfor %}
            </tr>
            {% for slot in time_slots %}
            <tr>
                <td>{{ slot }}</td>
                {% for court in courts %}
                {% with time_range=slot|split_time_range %}
                {% get_order selected_date time_range.start_time time_range.end_time court as orders %}

                <!-- Both conditions must be met: same date and valid time comparison -->
                {% if current_time|slice:":10" == selected_date and time_range.start_time|compare_times:current_time %}
                <!-- If both conditions are true, display N/A -->
                <td class="booked">N/A</td>
                {% else %}
                <!-- If conditions are not met, continue with booking logic -->
                {% for order in orders %}
                <td class="{% if order.user %} booked {% endif %}"
                    onclick="toggleSelect(this, '{{ slot }}', '{{ court }}', '{{ selected_date }}', {% if order.user %} true {% else %} false {% endif %}, {{ order.money }})">
                    {% if order.user %}
                    {{ order.user.first_name|capfirst }} {{ order.user.last_name|capfirst }}
                    {% else %}
                    ${{ order.money }}
                    {% endif %}
                </td>
                {% empty %}
                <!-- Display N/A if there is no order -->
                <td class="booked">N/A</td>
                {% endfor %}
                {% endif %}
                {% endwith %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <button type="button" id="bookButton" onclick="openForm()">Book Selected &#129122</button>


        <div class="form-popup" id="bookingForm">
            <form id="bookingFormId" method="post">
                {% csrf_token %}
                <h2 id="bookingHeader">Book Courts</h2>
                <p id="bookingDetails"></p>
                <div id="formErrors" style="color: red;"></div> <!-- Error message container -->
                <div id="divInput">
                    <label for="first_name">First Name:</label>
                    <input type="text" name="first_name" required><br>
                    <label for="last_name">Last Name:</label>
                    <input type="text" name="last_name"><br>
                    <label for="email">Email:</label>
                    <input type="email" name="email"><br>
                    <label for="phone">Cell Phone Number:</label>
                    <input type="text" name="phone"><br>
                </div>
                <button type="button" onclick="closeForm()">Close</button>
                <button id="btnBook" type="submit">Book</button>
                <button id="btnCancelBooking" type="button" onclick="cancelBooking()">Cancel Booking</button>
                <input type="hidden" name="selected_slots" id="selected_slots" value=""><br>
                <input type="hidden" name="info" id="info" value=""> <br>
            </form>
        </div>

    </div>

    <!-- Pass Django URLs using data attributes -->
    <form id="urlId" data-book-url="{% url 'book_slot' %}" data-cancel-url="{% url 'cancel_booking' %}"
        data-order-info-url="{% url 'get_order_info' %}">
    </form>


</body>


<!-- Include your CSS files -->
<link rel="stylesheet" type="text/css" href="{% static 'css/admin-schedule.css' %}">
<script src="{% static 'scripts/admin-schedule.js' %}"></script>

<script>

</script>

</html>