<!DOCTYPE html>
<html lang="en">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% load static %}
{% load booking_tags %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
</head>

<body>
    <div id="center">
        <div id="header">
            <h2><a href="https://www.lionsbadminton.com/"><span id="arrow">&#129120;</span></a> Lions Badminton Center
            </h2>
            <!--	    <button type="button" id="bookButton2" onclick="openForm()">Book Selected &#129122</button>-->
        </div>
        <div id="separator"></div>
        <!-- Display date buttons -->
        <div id="dates">
            {% for date in dates %}
            {# Extract the date part (YYYY-MM-DD) for the id attribute #}
            {% with date|slice:"4:14" as date_id %}
            <button id="dateButton_{{ date_id }}" onclick="showSchedule('{{ date_id }}')">
                {% if date == today %}
                Today
                {% else %}
                {{ date }}
                {% endif %}
            </button>
            {% endwith %}
            {% endfor %}
        </div>

        <table>
            <tr>
                <th>Time Slot</th>
                {% for court in courts %}
                <th>{{ court }}</th>
                {% endfor %}
            </tr>
            {% for slot in time_slots %}
            <tr>
                <td>{{ slot }}</td>
                {% for court in courts %}
                {% with time_range=slot|split_time_range %}
                {% get_order selected_date time_range.start_time time_range.end_time court as orders %}
                {% for order in orders %}
                <td class="{% if order.user %} booked {% endif %}"
                    onclick="toggleSelect(this, '{{ slot }}', '{{ court }}', '{{ selected_date }}',  {% if order.user %} true {% else %} false {% endif %}, {{order.money}})">
                    <!--                    <p>{{ order }}</p>-->
                    <!--                    Item Time: {{ order.item_time.start_time }} - {{ order.item_time.end_time }}<br>-->
                    <!--            User: {% if order.user %}{{ order.user.username }}{% else %}N/A{% endif %}<br>-->
                    {% if order.user %}
                    {{ order.user.first_name|capfirst }} {{ order.user.last_name|capfirst }}
                    {% else %}
                    ${{ order.money }}
                    {% endif %}
                    <!--            Status: {% if order.status %} "Open" {% else %} "Closed" {% endif %}<br>-->
                    <!--            Court: {{order.item_time.item_court.name}}<br>-->

                </td>
                {% empty %}
                <td class="booked">N/A</td>
                {% endfor %}
                {% endwith %}
                {% endfor %}

            </tr>
            {% endfor %}
        </table>
        <button type="button" id="bookButton" onclick="openForm()">Book Selected &#129122</button>


        <div class="form-popup" id="bookingForm">
            <form id="bookingFormId" method="post">
                {% csrf_token %}
                <h2 id="bookingHeader">Book Courts</h2>
                <p id="bookingDetails"></p>
                <div id="formErrors" style="color: red;"></div> <!-- Error message container -->
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" required><br>
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name"><br>
                <label for="email">Email:</label>
                <input type="email" name="email"><br>
                <label for="phone">Cell Phone Number:</label>
                <input type="text" name="phone"><br>
                <input type="hidden" name="selected_slots" id="selected_slots" value=""><br>
                <input type="hidden" name="info" id="info" value=""> <br>
                <button type="submit">Book</button>
                <button type="button" onclick="closeForm()">Cancel</button>
                <button id="btnCancelBooking" type="button" onclick="cancelBooking()">Cancel Boooking</button>
            </form>
        </div>

    </div>

</body>


<!-- Include your CSS files -->
<link rel="stylesheet" type="text/css" href="{% static 'css/admin-schedule.css' %}">
<script src="{% static 'scripts/admin-schedule.js' %}"></script>

<script>
    const form = document.getElementById('bookingFormId');
    const csrfToken = form.querySelector('[name="csrfmiddlewaretoken"]').value;
    //TODO move to js
    document.addEventListener('DOMContentLoaded', function () {
        form.addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent default form submission

            const formData = new FormData(form);

            fetch('{% url 'book_slot' %}', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': csrfToken
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        document.getElementById('formErrors').textContent = data.error;
                    } else {
                        // Handle success (e.g., show a success message or redirect)
                        //document.getElementById('formErrors').textContent = '';
                        //alert('Booking successful!');
                        // Optionally redirect or close the form
                        // Reload the page
                        //closeForm();
                        window.location.reload();

                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    document.getElementById('formErrors').textContent = 'An error occurred. Please try again.';
                });
        });
    });


    function cancelBooking() {

        var info = document.getElementById("info").value;
        console.log("info: ", info);

        // Assuming the format is "start_time-end_time_court_name_date_price"
        // We can split the string by underscores and further split by hyphens for the time
        var parts = info.split('_');
        var timeRange = parts[0].split('-'); // Splitting "20:00-21:00" to get start and end times

        var start_time = timeRange[0]; // Start time (20:00)
        var end_time = timeRange[1];   // End time (21:00)
        var court_name = parts[1];     // Court name (Court 7)
        var booking_date = parts[2];   // Booking date (2024-09-08)
        var price = parts[3];          // Price (30)

        // Now create FormData and append the extracted values
        var formData = new FormData();
        formData.append('start_time', start_time);   // Pass the start_time
        formData.append('end_time', end_time);       // Optionally pass the end_time if needed
        formData.append('court_name', court_name);   // Pass the court_name
        formData.append('booking_date', booking_date); // Pass the booking_date
        formData.append('price', price);             // Optionally pass the price if needed
        fetch('{% url 'cancel_booking' %}', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': csrfToken
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.reload();
                } else if (data.error) {
                    document.getElementById('formErrors').textContent = data.error;
                }
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('formErrors').textContent = 'An error occurred. Please try again.';
            });
    }

    function toggleSelect(cell, slot, court, date, isBooked, price) {
        var today = new Date().toISOString().split('T')[0];
        if (date < today) {
            console.log("date:", date)
            console.log("today:", today)
            return;
        }

        if (isBooked) {
            // open a form containing the information from the user
            var cellKey = `${slot}_${court}_${date}_${price}`;
            var slots = cellKey.split('_');
            console.log("slots:", slots);

            var details = date + '<br>' + court + ',' + slot + ',$' + price;
            document.getElementById("bookingDetails").innerHTML = details;
            document.getElementById("bookingForm").style.display = "block";

            document.getElementById("info").value = cellKey;

            // Show button and add back to layout
            document.getElementById("btnCancelBooking").style.display = "block";
            // Create a FormData object to send data to the server
            var formData = new FormData();
            formData.append('start_time', slot);   // Pass the start_time
            formData.append('court_name', court);  // Pass the court_name
            formData.append('booking_date', date); // Pass the booking_date

            fetch('{% url 'get_order_info' %}', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': csrfToken
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Access user information from the response
                        var userInfo = `
                            Name: ${data.user.first_name} ${data.user.last_name} <br>
                            Email: ${data.user.email} <br>
                            Phone: ${data.user.phone} <br>
                            Amount Paid: $${data.money} <br>
                            Booking Date: ${data.booking_date} <br>
                            Status: ${data.status ? 'Open' : 'Closed'} <br>
                            Flag: ${data.flag} <br>
                        `;

                        // Display user and booking details in a div
                        document.getElementById('bookingDetails').innerHTML = userInfo;
                    } else if (data.error) {
                        document.getElementById('formErrors').textContent = data.error;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    document.getElementById('formErrors').textContent = 'An error occurred. Please try again.';
                });

            return;
        }

        var cellKey = `${slot}_${court}_${date}_${price}`;
        if (selectedCells.includes(cellKey)) {
            selectedCells = selectedCells.filter(c => c !== cellKey);
            cell.classList.remove('selected');
        } else {
            selectedCells.push(cellKey);
            cell.classList.add('selected');
        }

        console.log(selectedCells)
    }

</script>

</html>